html {height: 100%;}
body {height:95%;}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch { width:100%; height:100%; opacity: 0.4;}

#logo {height: 35px; padding: 10px; padding-top: 0px}
#org {padding-top: 6px;}
#berkman {font-weight: bold; font-size:0.7em;}
#harvard {font-size: 0.6em;}
#appname {margin-top: -5px; margin-left:85px;}
#mainTable {width: 90%; margin: auto; margin-top:3%;}

.column_main {width:47%;}
.column_separator {width:6%;}
.left {float: left;}
.right {float:right;}
.center {text-align:center;}
.center_image {margin: auto;}

#tweets {
    height: 80%;
    width: 23%;
    background-color: white;
    overflow-y: scroll;
    float: left;
    margin-top: 30px;
    margin-left: 5px;
    border: solid 1px #000;
}

#tweets table {
    font-size: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
}

#timeline { margin-left: -30px;}

div ::-webkit-scrollbar{width:9px;height:9px;}
div ::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
div ::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
div ::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#E6E6E6;-webkit-border-radius:8px;}
div ::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#E6E6E6;-webkit-border-radius:8px;}